@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* variables */
:root {
    --txt-font: 'Montserrat', sans-serif;

    --primary-color:#E9A075;
    --secondary-color: #4D4D4D;
    --dark-color: #000;
    --white-color: #fff;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main styling */
html,
body {
    font-family: var(--txt-font);
    color: var(--secondary-color);
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h4 { font-size: 1.5rem; }

p {
    font-size: 1rem;
    margin: 10px 0;
    font-weight: 300;
}
/* utility class */
.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}
.display-1 {
    font-size: 4rem;
}
.large {
    font-size: 1.25rem;
}
.txt-orange {
    color: var(--primary-color);
}
.btn {
    display: inline-block;
    font-size: 15px;
    padding: 12px 23px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 4px;
}
.btn-round {
    border-radius: 20px;
}
.btn-dark {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: var(--white-color);
}
.btn-dark:hover {
    background-color: #d19069;
    color: var(--white-color);
}
.form-label {
    display: inline-block;
    margin-bottom: 6px;
}
.form-group {
    margin-bottom: 16px;
}
.form-control {
    display: block;
    width: 100%;
    padding: 7px 12px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: var(--white-color);
    border: 1px solid #ced4da;
    border-radius: 4px;
}
/* mainheader */
.mainheader {
    background: radial-gradient(at 10% 10px, #eabca1, #fff, #fff);
    height: 100vh;
}
/* navbar */
.navbar {
    color: #fff;
    padding: 20px 0;
}
.flex {
    display: flex;
    justify-content: space-between;
}
.logo {
    font-size: 35px;
    font-weight: 800;
}
.menu {
    width: 400px;
    display: flex;
    justify-content: space-between;
}
.menu__link {
    display: inline-block;
    padding: 10px 0;
}
/* showcase */
.showcase {
    padding: 80px 0;
}
.showcase-row {
    display: flex;
    padding: 150px 0;
}
.showcase__p2 {
    margin-bottom: 30px;
}
/* portafolio */
.portafolio {
    padding: 80px 0;
    text-align: center;
}
.portafolio__p1 {
    width: 500px;
    margin: 0 auto;
    padding: 10px 0 50px 0;
}
.portfolio-row {
    display: flex;
}
.por-img {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
}
/* about */
.about {
    padding: 80px 0;
    text-align: center;
}
.about__title {
    padding-bottom: 50px;
}
.about-p1 {
    margin-bottom: 20px;
}
/* contact */
.contact {
    padding: 80px 0;
}
.contact__title {
    text-align: center;
    margin-bottom: 50px;
}
.contact__p1 {
    width: 500px;
    margin: 0 auto;
    padding: 10px 0 50px 0;
}
.contact-row {
    display: flex;
}
.contact-row-img,
.contact-row-form {
    width: 50%;
}
.contact__img {
    padding: 120px;
}
.contact-row-form {
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    padding: 70px;
}
.form__title {
    padding-bottom: 40px;
    text-align: center;
}
.btn-contact {
    width: 100%;
}
/* mainfooter */
.mainfooter {
    text-align: center;
    padding: 30px;
}